---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro'
---
<Layout title="Blog | Rythm Nation">
  <Main>
    <H1 text="Contact Us" />
    <div class="mb-4">
      <h2 class="text-lg font-bold mb-2">Email</h2>
      <p>erkamkiris@com</p>
    </div>

    <div class="mb-4">
      <h2 class="text-lg font-bold mb-2">Address</h2>
      <p>Zaragoza, Spain</p>
    </div>

    <div class="mb-4">
      <h2 class="text-lg font-bold mb-2">Phone Number</h2>
      <p>+34641963864</p>
    </div>

    <div class="mb-4">
      <h2 class="text-lg font-bold mb-2">Socials</h2>
      <ul style="display: flex; gap: 10px;">
        <li><a href="https://twitter.com/erkamkiris" style="font-weight: bold;">Twitter</a></li>
        <li><a href="https://instagram.com/erkamkiris" style="font-weight: bold;">Instagram</a></li>
        <li><a href="https://github.com/erkamkrs" style="font-weight: bold;">Github</a></li>
      </ul>
    </div>
  </Main>
</Layout>