
<footer class="flex justify-between items-center px-12 py-6 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mx-auto">
    <a href="/" class="flex justify between gap-x-4"> 
        <img 
        src="/soccer-ball.png"
        alt="rhythm nation logo"
        width={72}
        height={72}
        class="w-16">
    </a>
    <p class=" text-3xl text-zinc-900">Made by Erkam Kiris 2023.</p>   
    </span>

</footer>
